/* Banshee Media Center Stylesheet */

body {
	background-color: #eee;
	font-family: Myriad, "Myriad Pro", Segoe, Sans-Serif;
}

h1,h2,h3 {
	color: #888;
}

a {
	color: #3465a4;
	text-decoration: underline;
}

a:visited {
	color: #729fcf;
	text-decoration: underline;
}

a:hover {
	color: #949fef;
	text-decoration: underline;
	cursor: pointer;
}

#maincontainer {
	max-width: 60em;
	margin: 0px auto;
	position: relative;
}

#title {
	display: block;
	width: 200px;
	height: 80px;
	padding: 0px;
	background: transparent url("../images/title.png") no-repeat top left;
	overflow: hidden;
	text-indent: -2000em; /* hide text, only show background image for CSS browsers */
}

#menu {
	position: absolute;
	right: 0px;
	top: 0px;
	background-color: #eee;
}

#menu li {
	list-style: none;
	display: block;
	float: left;
	margin-right: 1em;
}

#browser {
	position: relative;
	min-height: 200px;
}

#artists_container {
	position: absolute;
	width: 48%;
	margin: 0px;
	padding: 0px;
	top: 0px;
	left: 0px;
}

#albums_container {
	position: absolute;
	width: 48%;
	margin: 0px;
	padding: 0px;
	top: 0px;
	right: 0px;
}

#albums_container h2, #artists_container h2 {
	margin: 4px;
	font-size: 110%;
}

#albums_container select, #artists_container select {
	margin: 4px;
	border: 1px solid #888;
	width: 100%;
	height: 10em;
}

#table_container {
	width: 100%;
	margin-top: 1em;
}

#track_table {
	width: 100%;
	background-color: white;
	border: 1px solid #888;
	-moz-border-radius: 3px;
	padding: 2em;
	font-size: 90%;
	border-collapse: collapse;
}

#track_table th {
	text-align: left;
	color: #888;
}

#track_table thead {
	background-color: #aaa;
}

#track_table th {
	color: white;
}

#track_table td, #track_table th {
	margin: 0px;
	padding: .3em;
}

#track_table .oddrow td {
	background-color: #eee;
}

#track_table tr {
	cursor: pointer;
}

/* hover the song rows */
#track_table tr:hover td {
	background-color: #ddd;
}

.headerSortUp {
	background: url('../images/arrowdown.png') top right no-repeat;
}

.headerSortDown {
	background: url('../images/arrowup.png') top right no-repeat;
}

#player_controls {
	margin: 1em;
}

td.playing {
	width: 32px;
	height: 32px;
	overflow: hidden;
}

tr.nowplaying td.playing {
	background: url('../images/nowplaying.png') no-repeat center;
}

tr.paused td.playing {
	background: url('../images/nowplaying.png') no-repeat center;
}

#nowplaying_label {
	height: 1.5em; /* make sure it doesn't need to reflow when it gets content */
	margin: .5em;
}
